<root>
		<!-- Include stylesheets -->
	<styles>
		<include src="file://{resources}/styles/custom_game/menu.css" />
	</styles>
	<scripts>
		<include src="file://{resources}/scripts/custom_game/menu.js" />
	</scripts>

	<Panel class="menu-tab-container">

		<Panel class="menu-tab-header">
			<Button class="menu-tab-button" onactivate="showTab('#tab-structure');">
				<Label text="B"/>
			</Button>
			<Button class="menu-tab-button" onactivate="showTab('#tab-defense');">
				<Label text="D"/>
			</Button>
			<Button class="menu-tab-button" onactivate="showTab('#tab-infantry');">
				<Label text="I"/>
			</Button>
			<Button class="menu-tab-button" onactivate="showTab('#tab-vehicle');">
				<Label text="V"/>
			</Button>
		</Panel>

		<Panel class="menu-tab-body" id="menu-tab-body">
		    <Panel class="menu-tab" id="tab-structure"></Panel>
		    <Panel class="menu-tab" id="tab-defense"></Panel>
		    <Panel class="menu-tab" id="tab-infantry"></Panel>
		    <Panel class="menu-tab" id="tab-vehicle"></Panel>
	    </Panel>

	</Panel>

</root>
