.menu-container {
	horizontal-align: right; 
	width: 168px;
	height: 100%;
	flow-children: down;
}

.menu-ore {
	width: 100%;
	height: 16px;
	background-image: url('file://{images}/custom_game/credits 0000.png');
}

.menu-ore Label {
	color: yellow;
	padding-top: 4px;
	text-align: center;
	width: 100%;
}

.menu-top {
	width: 100%;
	height: 32px;
	background-image: url('file://{images}/custom_game/top 0000.png');
}

.menu-radar {
	width: 100%;
	height: 110px;
	background-image: url('file://{images}/custom_game/radar 0000.png');
}

.menu-tab-container {
	height: fill-parent-flow(1.0);
	width: 100%;
	flow-children: down;
}

.menu-tab-header {
	flow-children: right;
	horizontal-align: center;
	padding: 0px 21px 4px 20px;
	width: 100%;
	height: 69px;
	background-image: url('file://{images}/custom_game/side1 0000.png');
}

.menu-tab-button {
	width: 32px;
	height: 28px;
	text-align: center;
	color: #FFF;
	align: center bottom; 
}

.menu-tab-button Label {
	align: center center; 
}

.menu-tab {
	overflow: scroll;
	height: 100%;
	flow-children: right-wrap;
}

.menu-tab-body {
	horizontal-align: center;
	width: 100%;
	height: fill-parent-flow(1.0);
	background-color: #000;
	background-image: url('file://{images}/custom_game/side2 0000.png');
	background-repeat: repeat-y;
	padding: 0px 20px;
}

.menu-tab-footer {
	width: 100%;
	height: 26px;
	background-image: url('file://{images}/custom_game/side3 0000.png');
	vertical-align: bottom;
}

.menu-addon {
	width: 100%;
	height: 63px;
	background-image: url('file://{images}/custom_game/addon 0000.png');
	vertical-align: bottom;
}

.menu-item {
	width: 60px;
	height: 48px;
	font-size: 10px;
	margin: 1px;
}

.cameo {
	background-image: none;
	width: 100%;
	height: 100%;
}

.menu-item {
	border: 1px solid transparent;
}

.menu-item:hover {
	border-color: yellow;
}

.menu-item > Label {
	color: white; 
	font-weight: bold; 
	font-size: 18px;
}

.progress-overlay {
	width: 100%;
	height: 100%;
	background-color: yellow;
	background-size: 100% 100%;
	visibility: collapse;
	opacity: 0.3;
}

Label.menu-item-queue {
	color: yellow;
	font-size: 12px;
	align: right top;
	background-color: #000000EE;
	padding: 4px;
	text-align: center;
	visibility: collapse;
}

Label.menu-item-label {
	font-size: 10px;
	align: left bottom;
	background-color: #000000DD;
}

Label.menu-item-status {
	color: yellow;
	font-size: 12px;
	align: center top;
	background-color: #000000EE;
	padding: 4px;
	text-align: center;
	visibility: collapse;
}


.tab-structure {
	background-image: url('file://{images}/custom_game/tab00 0000.png');
}

.tab-structure.active {
	background-image: url('file://{images}/custom_game/tab00 0001.png');	
}

.tab-structure.disabled {
	background-image: url('file://{images}/custom_game/tab00 0002.png');
}

.tab-defense {
	background-image: url('file://{images}/custom_game/tab01 0000.png');
}

.tab-defense.active {
	background-image: url('file://{images}/custom_game/tab01 0001.png');
}

.tab-defense.disabled {
	background-image: url('file://{images}/custom_game/tab01 0002.png');
}

.tab-infantry {
	background-image: url('file://{images}/custom_game/tab02 0000.png');
}

.tab-infantry.active {
	background-image: url('file://{images}/custom_game/tab02 0001.png');
}

.tab-infantry.disabled {
	background-image: url('file://{images}/custom_game/tab02 0002.png');
}

.tab-vehicle {
	background-image: url('file://{images}/custom_game/tab03 0000.png');
}

.tab-vehicle.active {
	background-image: url('file://{images}/custom_game/tab03 0001.png');
}

.tab-vehicle.disabled {
	background-image: url('file://{images}/custom_game/tab03 0002.png');
}