.menu-tab-container {
	background-color: #444; 
	margin-top: 300px; 
	horizontal-align: right; 
	height: 500px;
	flow-children: down;
}

.menu-tab-header {
	flow-children: right;
	padding: 10px;
	horizontal-align: center;
}

.menu-tab-button {
	width: 32px;
	height: 32px;
	background-color: #0000FFFF;
	text-align: center;
	color: #FFF;
	border: 1px solid #FFF;
}

.menu-tab-button Label {
	align: center center; 
}

.menu-tab {
	overflow: scroll;
	height: 100%;
	flow-children: right-wrap;
}

.menu-tab-body {
	horizontal-align: center;
	width: 125px;
	height: 100%;
	background-color: #000;
}

.menu-item {
	width: 60px;
	height: 48px;
	font-size: 10px;
	margin: 1px;
}

.cameo {
	background-image: none;
	width: 100%;
	height: 100%;
}

.menu-item > Label {
	color: white; 
	font-weight: bold; 
	font-size: 18px; 
	text-shadow: 0px 0px 2px 3.0 #000;
}

.progress-overlay {
	width: 100%;
	height: 100%;
	background-color: #000000E6;
	background-size: 100% 100%;
	visibility: collapse;
}

Label.menu-item-queue {
	align: right bottom;
}

Label.menu-item-label {
	font-size: 10px;
	align: left bottom;
}

Label.menu-item-status {
	font-size: 10px;
	align: center center;
}
