.menu-tab-container {
	background-color: #444; 
	margin-top: 300px; 
	horizontal-align: right; 
	height: 500px;
	flow-children: down;
}

.menu-tab-header {
	flow-children: right;
	padding: 10px;
	horizontal-align: center;
}

.menu-tab-button {
	width: 32px;
	height: 32px;
	background-color: #0000FFFF;
	text-align: center;
	color: #FFF;
	border: 1px solid #FFF;
}

.menu-tab-button Label {
	align: center center; 
}

.menu-tab {
	overflow: scroll;
	height: 100%;
	flow-children: right-wrap;
}

.menu-tab-body {
	horizontal-align: center;
	width: 125px;
	height: 100%;
	background-color: #000;
}

.menu-item {
	width: 60px;
	height: 48px;
	font-size: 10px;
	margin: 1px;
}

.cameo {

/*
	background-image: url("file://{images}/custom_game/units/npc_ra2_allied_attack_dog.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_allied_engineer.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_chrono_commando.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_chrono_ivan.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_chrono_legionnaire.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_clone_vat.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_conscript.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_crazy_ivan.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_desolator.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_flak_cannon.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_flak_trooper.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_gi.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_iron_curtain.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_navi_seal.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_nuclear_reactor.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_nuke_silo.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_psi_commando.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_psy_sensor.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_radar_tower.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_rocketeer.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_sentry_gun.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_sniper.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_soviet_attack_dog.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_soviet_barracks.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_soviet_battle_lab.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_soviet_engineer.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_soviet_mcv.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_soviet_naval_shipyard.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_soviet_ore_refinery.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_soviet_service_depot.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_soviet_wall.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_soviet_war_factory.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_spy.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_tanya.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_terrorist.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_tesla_coil.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_tesla_reactor.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_tesla_trooper.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_yuri.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_yuri_prime.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_apocalypse_tank.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_demolition_truck.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_flak_track.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_kirov_airship.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_rhino_tank.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_soviet_mcv.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_terror_drone.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_tesla_tank.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_v3_rocket_launcher.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_war_miner.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_dreadnought.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_giant_squid.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_sea_scorpion.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_soviet_amphibious_transport.png");
	background-image: url("file://{images}/custom_game/units/npc_ra2_typhoon_attack_submarine.png");
*/
	background-image: none;

	width: 100%;
	height: 100%;
}

.menu-item > Label {
	color: white; 
	font-weight: bold; 
	font-size: 18px; 
	text-shadow: 0px 0px 2px 3.0 #000;
}

Label.menu-item-queue {
	align: right bottom;
}

Label.menu-item-label {
	font-size: 10px;
	align: left bottom;
}
